@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* CSS reset 
http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* switch to alternative CSS box model */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
}

button {
	border: none;
	border-radius: 8px;
	background-color: #3882f6;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 24px;
	color: #e5e7eb;
}

/* ----- HEADER ----- */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	background-color: #1f2937;
}

.logo {
	margin-left: 20%;
	font-size: 24px;
	font-weight: bold;
	color: #f9faf8;
}

.links {
	margin-right: 20%;
	display: flex;
	gap: 16px;
}
/* ----- HEADER END ----- */

.container {
	flex: 1 1 auto;
	display: flex;
	height: 400px;
}

/* ----- HERO SECTION ----- */

.container.hero {
	background-color: #1f2937;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #e5e7eb;
}

.hero .left {
	margin-left: 20%;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	align-items: flex-start;
}

.main-text {
	font-size: 48px;
	font-weight: bold;
}

.hero .right {
	flex: none;
	margin-right: 20%;
	background-color: rgb(100, 107, 115);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 530px;
	height: 270px;
	margin-left: 175px;
}

/* ----- HERO SECTION END ----- */

/* ----- INFORMATION SECTION ----- */

.container.information {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.information-header {
	margin: 36px 0;
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.item-container {
	display: flex;
	column-gap: 40px;
}

.item {
	width: 175px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.item img {
	height: 175px;
	border: 4px solid #3882f6;
	border-radius: 12px;
}

.item .text {
	font-size: 18px;
	text-align: center;
}

/* ----- INFORMATION SECTION END ----- */

/* ----- TESTIMONIAL SECTION ----- */

.container.quote {
	justify-content: center;
	background-color: #e5e7eb;
}

.quote .testimonial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 45%;
}

.testimonial .text {
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
}

.testimonial .signature {
	font-size: 24px;
	font-weight: bold;
	margin-left: auto;
}

/* ----- TESTIMONIAL SECTION END ----- */